@import url(../base/input.css);
.dialog {
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    background: #000000af;
    display: flex;
    align-items: center;
    justify-items: center;
    box-sizing: border-box;
    padding-left: 8px;
    padding-right: 8px;
}

#dialog-teacher-detail {
    display: none;
}

.dialog-weapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 850px;
    height: 425px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
    /* padding-left: 24px; */
    padding-bottom: 24px;
    padding-right: 24px;
}

.dialog-sidebar {
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    /* align-items:center; */
    justify-items: center;
    flex-direction: column;
    width: 198px;
    height: 400px;
}

.dialog-avt {
    border: unset;
    background-size: 140px 196px;
    width: 140px;
    height: 196px;
    border-radius: 4px;
    margin: 0 auto;
    flex-direction: column;
}

.img-avt {
    border: unset;
    background: url(./../../icons/img_avatar.png);
    background-size: 140px 160px;
    width: 140px;
    height: 160px;
}

.btn-upload-avt {
    border: unset;
    background-color: #02BF70;
    min-width: 140px;
    height: 32px;
    overflow: hidden;
    font-size: 13px;
    color: #ffffff;
    cursor: pointer;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid #D5D8E6;
    border-width: 1px;
}

.dialog-text-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding-top: 20px;
}

.dialog-name {
    font-size: 14px;
}

.dialog-stt {
    font-size: 13px;
}

.space-left {
    background-color: #EEEEEE;
    width: 1px;
    height: 390px;
    margin-right: 16px;
    margin-top: 8px;
    margin-bottom: 16px;
}

.dialog-form-right {
    width: 600px;
    height: 400px;
    font-size: 13px;
    display: flex;
    flex-direction: column;
}

.dialog_header {
    display: flex;
    justify-content: space-between;
}

.dialog-text-header {
    font-size: 14px;
    padding-top: 16px;
}

.btn-dialog-close {
    background: url(./../../icons/ic_X_40.png);
    border: unset;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-top: -4px;
    margin-right: -15px;
}

.dialog_container {
    display: flex;
    justify-content: space-between;
    padding-top: 14px;
}

.text-stt-dialog {
    margin-top: 10px;
}

.text-phone-dialog {
    margin-top: 20px;
}

.text-name-dialog {
    margin-top: 10px;
}

.text-email-dialog {
    margin-top: 20px;
}

.dialog_container-left {
    margin-top: 16px;
}

.stt-dialog {
    display: flex;
    flex-direction: row;
}

.phone-dialog {
    display: flex;
    flex-direction: row;
}

.input-stt-dialog-left {
    width: 150px;
    margin-left: 10px;
}

.input-phone-dialog-left {
    width: 150px;
    margin-left: 50px;
    margin-top: 12px;
}

.dialog_container-right {
    margin-top: 16px;
}

.name-dialog {
    display: flex;
    flex-direction: row;
}

.color-text-dialog {
    color: red;
    margin-top: 10px;
    margin-left: 1px;
}

.email-dialog {
    display: flex;
    flex-direction: row;
}

.input-name-dialog-right {
    width: 200px;
    margin-left: 23px;
    margin-right: 10px;
}

.input-email-dialog-right {
    width: 200px;
    margin-left: 56px;
    margin-top: 12px;
    margin-right: 10px;
}

.dropdownlist-dialog-left {
    display: flex;
    flex-direction: row;
}

.combobox-dialog-left {
    margin-left: 63px;
    margin-top: 12px;
    margin-right: 10px;
}

.text-tbm-dialog {
    margin-top: 20px;
}

.dropdownlist-dialog-right {
    display: flex;
    flex-direction: row;
}

.combobox-dialog-right {
    margin-top: 12px;
    margin-left: 10px;
}

.text-qlm-dialog {
    margin-top: 20px;
}

.dialog_container-bottom {
    display: flex;
    flex-direction: row;
}

.dropdownlist-dialog-bottom {
    display: flex;
    flex-direction: row;
}

.combobox-dialog-bottom {
    margin-top: 12px;
    margin-left: 41px;
}

.text-qlk-dialog {
    margin-top: 20px;
}

.ckb-dialog {
    width: 13px;
    height: 13px;
    margin-top: 22px;
}

.checkbox-dialog {
    display: flex;
    flex-direction: row;
}

.ckb-item {
    display: flex;
    flex-direction: row;
}

.text-ckb {
    margin-top: 20px;
    margin-left: 4px;
}

.ckb-item+.ckb-item {
    margin-left: 15px;
}

.dialog_footer {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.btn-close {
    border-radius: 4px;
    border: 1px solid #D5D8E6;
    border-width: 1px;
    background-color: #ffffff;
    min-width: 96px;
    height: 32px;
    font-size: 14px;
    color: black;
    cursor: pointer;
}