input {
    height: 32px;
    width: 360px;
    border: 1px solid #ccc;
    outline: unset;
    border-radius: 4px;
    padding: 0 12px;
}

.input-search {
    background-image: url(../../icons/Ic_seerch.png);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position-x: calc(100% - 8px);
    background-position-y: center;
}

.dialog-el {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    position: relative;
    column-gap: 5px;
  }

.input--error,
.field--error {
  border-color: #ff0000 !important;
}

.input--error + .error-text,
.field--error + .error-text {
  display: block;
  color: #fff;
  background-color: #ff0000;
  font-size: 11px;
  width: 100%;
  max-width: 200px;
  word-wrap: break-word;
  position: absolute;
  left: 110%;
  padding: 6px;
  border-radius: 3px;
  z-index: 1000;
}

.input--error + .error-text::before,
.field--error + .error-text::before {
  content: "";
  border-width: 8px;
  border-color: transparent #ff0000 transparent transparent;
  border-style: solid;
  position: absolute;
  top: 50%;
  left: -16px;
  transform: translateY(-50%);
}

.input-number {
    width: 72px;
    margin-left: 8px;
    margin-right: 8px;
    text-align: center;
}