@import url(../base/button.css);

.page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding-left: 8px;
}

.input-search:hover {
    border-color: #0DD469;
}

.page-button {
    display: flex;
    justify-content: flex-end;
}

.page-body {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 13px 8px;
}

.paging {
    display: flex;
    align-items: center;
    padding: 12px 8px;
    background-color: #ffffff;
    font-size: 14px;
    border: 1px solid #D5D8E6;
    border-width: 1px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .16);
}

.paging-text {
    font-size: 14px;
    margin-left: 8px;
    cursor: pointer;
}

.paging-text-total {
    font-size: 14px;
    margin-left: 8px;
}